@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 193, 193);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.inside-main{
    height: 550px;
    width: 450px;
    min-width: 200px;
    background-color: rgb(53, 50, 50);
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 15px;
    box-shadow: 5px 8px 15px;
}

input{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    height: 45px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 14px;
    padding: 0 5px;
}
#btn{
    padding: 8px 15px;
    background-color: #0ba6ff;
    border: none;
    border-radius: 10px;
    margin-left: 38%;
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
#Login{
    margin-left: 18%;
    color: rgb(84, 84, 242);
    font-size: 20px;
   
}
h2{
    text-align: center;
    letter-spacing: 5px;
    color: white;
    font-size: 36px;
    margin: 15px 0;
}

